{% extends "base.html" %}
{% load static%}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container text-center">
    <h2 class="d-inline-block mem-bg pt-20 p-1 mt-5 mb-3">Memberships</h2>
    <div class="row mem-bg text-center mb-5 pt-5">
        <!-- Displays all memberships -->
        {% for membership in memberships %}
            <div class="col-12 col-sm-6 col-md-4 mb-5 mb-md-0">
                <!-- Membership Name -->
                <h5 class="text-uppercase gold-text pt-5">The {{membership.name}} <br> Membership</h5>
                <!-- Memberhsip Image -->
                <div style="height: 15rem;">
                    <img src="{{ membership.image.url }}" alt="Bee logo for {{ membership.name}} Membership" style="height: 12rem;">
                </div>
                <!-- Free Delivery -->
                <div>
                    <p class="mb-0 text-white">Free Delivery</p>
                    {% if membership.free_delivery == 'Y' %}
                        <p class="gold-text">Yes</p>
                    {% else %}
                        <p class="gold-text">No</p>
                    {% endif %}
                </div>
                <!-- First Order Discount in % -->
                <div>
                    <p class="mb-0 text-white">First Order Discount</p>
                    <p class="gold-text">{{ membership.first_order_disc }}%</p>
                </div>
                <!-- Overall discount in %, display No if None -->
                <div>
                    <p class="mb-0 text-white">Overall Discount</p>
                    {% if membership.overall_discount %}
                        <p class="gold-text">{{ membership.overall_discount }}%</p>
                    {% else %}
                        <p class="gold-text">No</p>
                    {% endif %}
                </div>
                <!-- Monthly Treat package -->
                <div>
                    <p class="mb-0 text-white">Monthly Treat</p>
                    <p class="gold-text">{{ membership.monthly_treat }}</p>
                </div>
                <!-- Recipe book included? -->
                <div>
                    <p class="mb-0 text-white">Monthly Recipe Book?</p>
                    {% if membership.recipe_book == 'Y' %}
                        <p class="gold-text">Yes</p>
                    {% else %}
                        <p class="gold-text">No</p>
                    {% endif %}
                </div>
                <!-- Price, display free if None -->
                <div>
                    <p class="gold-text">
                        {% if membership.price %}
                            € {{ membership.price }}
                        {% endif %}
                    </p>
                </div>
                <form action="{% url 'membership_type' %}" method="POST" class="pb-5">
                    {% csrf_token %}
                    <input type="hidden" value="{{ membership.name }}" name="membership_type">
                    <button class="btn-outline-black">Treat Yourself</button>
                 </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}