{% extends "base.html" %}
{% load static%}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container text-center">
    <h2 class="d-inline-block p-1 mt-5 mb-3">Your Membership Details</h2>
    <div class="row text-center mb-5 pt-5">
        <div class="col-12">
            <!-- Membership Name -->
            <h5 class="text-uppercase pt-5">You're a <br><span class="gold-text">{{membership.name}}</span><br></h5>
            <!-- Price, display free if None -->
            <div>
                <p>
                    {% if membership.price %}
                        £{{ membership.price }}
                    {% endif %}
                    per month
                </p>
            </div>
            <!-- Memberhsip image -->
            <div style="height: 15rem;">
                <img src="{{ membership.image.url }}" alt="Bee logo for {{ membership.name}} Membership" style="height: 12rem;">
            </div>
            <!--Member Benefits-->
            <div class="border m-auto p-3 col-md-6">
                <h3 class="text-upppercase">What you get.</h3>
                <!-- Free Delivery -->
                <br>
                <div>
                    <p class="mb-0">Free Delivery</p>
                    {% if membership.free_delivery == 'Y' %}
                        <p class="gold-text">Yes</p>
                    {% else %}
                        <p class="gold-text">No</p>
                    {% endif %}
                </div>
                <!-- First Order Discount in % -->
                <div>
                    <p class="mb-0">First Order Discount</p>
                    <p class="gold-text">{{ membership.first_order_disc }}%</p>
                </div>
                <!-- Overall discount in %, display No if None -->
                <div>
                    <p class="mb-0">Overall Discount</p>
                    {% if membership.overall_discount %}
                        <p class="gold-text">{{ membership.overall_discount }}%</p>
                    {% else %}
                        <p class="gold-text">No</p>
                    {% endif %}
                </div>
                <!-- Monthly Treat package -->
                <div>
                    <p class="mb-0">Monthly Treat</p>
                    <p class="gold-text">{{ membership.monthly_treat }}</p>
                </div>
                <!-- Recipe book included? -->
                <div>
                    <p class="mb-0">Monthly Recipe Book?</p>
                    {% if membership.recipe_book == 'Y' %}
                        <p class="gold-text">Yes</p>
                    {% else %}
                        <p class="gold-text">No</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 change-mem">
                <a class="btn btn-danger text-light" href="{% url 'cancel_membership' %}">Cancel Subscription</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}