{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 welcome-text my-auto">
                <h1 class="display-4 welcome-text center-align">
                    Welcome to the Hive!
                </h1>
                <p class="welcome-text-para center-align">
                    We have the finest <span>Honeycomb Fudge, Cakes</span> and other <span>Sweet Treats</span> Available!
                </p>
                <div class="col-12 my-5 center-align treat-yourself-button">
                    <a href="{% url 'memberships' %}" class=" btn-lg text-uppercase py-3">Join Us!</a>
                    <a href="{% url 'products' %}" class=" btn-lg text-uppercase py-3">Treat Yourself!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}