<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Treats</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="treat-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Treats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="treat-link">
                <a href="" class="dropdown-item">Fudge &amp;</a>
                <a href="" class="dropdown-item">Cakes</a>
                <a href="" class="dropdown-item">Sweet Treats</a>
                <a href="" class="dropdown-item">All Treats</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="membership-link" aria-haspopup="true" aria-expanded="false">
                Join the Hive
            </a>
        </li>
    </ul>
</div>